{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Post</title>
    <link rel="stylesheet" href="{% static 'view_blog.css' %}">
</head>
<body>
    <h1>Blogs</h1>
    <div class="blogs-wrapper">
    {% for blog in blogs %}
    <div class="blogs-container">
        <h2>{{blog.title}}</h2>
        <h2>{{blog.author.username}}</h2>
        <h2>{{blog.created_at}}</h2>
        <p>{{blog.content}}</p>
    </div>
    {% endfor %}
    </div>

    {% if blogs.has_previous %}
       <a href="?page={{blogs.previous_page_number}}">Previous Page</a>
    {% endif %}


    {% if blogs.has_next %}
       <a href="?page={{ blogs.next_page_number }}">Next Page</a>
    {% endif %}

 
</body>
</html>