{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Post</title>
    <link rel="stylesheet" href="{% static 'view_blog.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'create_blog' %}">Create Blog</a></li>
                <li><a href="{% url 'view_blog' %}">View Blog</a></li>
            </ul>
        </nav>
    </header>
    <div class="blogs-wrapper">
    {% for blog in blogs %}
    <div class="blogs-container">
        <h2>{{blog.title}}</h2>
        <h2>{{blog.author.username}}</h2>
        <h2>{{blog.created_at}}</h2>
        <p>{{blog.content}}</p>
    </div>
    {% endfor %}
    </div>

    <div class="next-and-prev-container">
    {% if blogs.has_previous %}
       <a href="?page={{blogs.previous_page_number}}" id="prev">Previous</a>
    {% endif %}


    {% if blogs.has_next %}
       <a href="?page={{ blogs.next_page_number }}" id="next">Next</a>
    {% endif %}
    </div>

 
</body>
</html>